<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @quote.amount %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @quote.identifier %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
