<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_reg %><br>
    <%= f.text_field :vehicle_reg %>
  </div>
  <div class="field">
    <%= f.label :annual_mileage %><br>
    <%= f.number_field :annual_mileage %>
  </div>
  <div class="field">
    <%= f.label :vehicle_value %><br>
    <%= f.number_field :vehicle_value %>
  </div>
  <div class="field">
    <%= f.label :parking_location %><br>
    <%= f.text_field :parking_location %>
  </div>
  <div class="field">
    <%= f.label :policy_start_date %><br>
    <%= f.datetime_select(:policy_start_date, :include_blank => true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
